{% extends 'admin_template/base_template.html' %}


{% block page_title %}
    Students Allocations
{% endblock page_title %}

{% block main_content %}

{% load static %}
<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add a students results sheets</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
<!--                    <form role="form" enctype="multipart/form-data" method="POST">-->
<!--                        {% csrf_token %}-->
<!--                        -->
<!--                                {% comment %} Display Messages {% endcomment %}-->
<!--                                {% if messages %}-->
<!--                                <div class="form-group">-->
<!--                                <div class="col-12">-->
<!--                                    {% for message in messages %}-->
<!--                                    {% if message.tags == "error" %}-->
<!--                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">-->
<!--                                        {{ message }}-->
<!--                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--                                            <span aria-hidden="true">&times;</span>-->
<!--                                        </button>-->
<!--                                        </div>-->
<!--                                    {% elif message.tags == "success" %}-->
<!--                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">-->
<!--                                        {{ message }}-->
<!--                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--                                            <span aria-hidden="true">&times;</span>-->
<!--                                        </button>-->
<!--                                        </div>-->
<!--                                    {% endif %}-->
<!--                                    {% endfor %}-->
<!--                                </div>-->
<!--                                </div>-->
<!--                                {% endif %}-->
<!--                            -->

<!--                        <div class="card-body">-->

<!--                            <div class="m-1">-->
<!--                                <label>select year :</label>-->
<!--                                <select class="yearselect bg-primary" id="year" name="year">-->
<!--                                    {% for year in years %}-->

<!--                                <option selected value="{{year.year}}">{{year.year}}</option>-->
<!--                                    {% endfor %}-->
<!--                                &lt;!&ndash;<option>2022</option>&ndash;&gt;-->
<!--                                </select>-->
<!--                                <br/>-->

<!--                                <label for="csv_file" class="form-label">result sheets</label>-->
<!--                                <input class="form-control form-control-lg " id="csv_file"  name="csv_file" type="file">-->
<!--                            </div>-->
<!--                            <div>-->
<!--                               -->
<!--                            </div>-->

<!--                        </div>-->
<!--                        &lt;!&ndash; /.card-body &ndash;&gt;-->

<!--                        <div class="card-footer">-->
<!--                        <button type="submit" class="btn btn-primary">Add Students</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                    -->
<!--                    -->
                    </div>
                    <!-- /.card -->
                    <div class="card" style="width: 18rem;">
                      <div class="card-header">
                        <h4>Inserted students</h4>
                      </div>
                      <ul class="list-group list-group-flush">
                          {% for row in data %}

                        <li class="list-group-item">YEAR: {{ row.year }}      ALLOCATED: {{ row.allocated }}</li>
                        <li class="list-group-item"></li>
                            {% endfor %}
                      </ul>
                    </div>

                    <div class="col-3">
                        <a href="{% url 'app:perform_selection' %}">
                        <div class='card card-primary allocatebtn' ><div class="card-header"  ><h3 class='card-title'>Allocate students</h3></div></div>
                        </a>
                    </div>

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

    {% block custom_js %}
    {% comment %} Checking if email and username already exists or not usin Ajax {% endcomment %}

    <script>
    
        $(document).ready(function(){
            $("#student_data").click(function(){
                alert("=====hey am reached===")
              $.ajax({
                        url : "{% url 'app:checStudents_alloc'  %}",
                        type : 'GET',
                    }).done(function(response){
                    console.log(response)
                    alert("students allocation succesfull")
                })
                })
                
            })
              
    </script>

  {% endblock custom_js %}