{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="#" class="brand-link">
        <img src="{% static 'dist/img/images.jpg' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">PSAS</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
<!--            -->
<!--            <li class="nav-item">-->
<!--              {% url 'app:users_home' as users_home %}-->
<!--              <a href="{{ users_home }}" class="nav-link {% if request.path == users_home %} active {% endif %}">-->
<!--                <i class="nav-icon fas fa-tachometer-alt"></i>-->
<!--                <p>-->
<!--                  Home-->
<!--                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}-->
<!--                </p>-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="nav-item">-->
<!--              {% url 'app:all_regions' as all_regions %}-->
<!--              <a href="{{ all_regions }}" class="nav-link {% if request.path == all_regions %} active {% endif %}">-->
<!--                <i class="nav-icon fas fa-calendar-alt"></i>-->
<!--                <p>-->
<!--                  Secondary Schools-->
<!--                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}-->
<!--                </p>-->
<!--              </a>-->
<!--            </li>-->

            <li class="nav-item">

              {% url 'app:check_stu_alloc' as student_view_alloc %}
              <a href="{{ student_view_alloc }}" class="nav-link {% if request.path == student_view_alloc %} active {% endif %}">
                <i class="nav-icon fas fa-tasks"></i>
                <p>
                  View Student Allocation
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'app:user_feedback' as student_feedback %}
              <a href="{{ student_feedback }}" class="nav-link {% if request.path == student_feedback %} active {% endif %}">
                <i class="nav-icon fas fa-comments"></i>
                <p>
                  Send Feedback
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>